/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
/*@import "./node_modules/bootstrap/scss/bootstrap";*/

/* Importing Datepicker SCSS file. */
/*@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";*/
label.xng-breadcrumb-trail{
    color: orange;
}



@media screen and (min-width:1280px) {
    [lang=ar] .v-search-container {
        left: 10px;
        right: auto
    }
}

@font-face {
    font-family: swiper-icons;
    font-style: normal;
    font-weight: 400;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff")
}

:root {
    --swiper-theme-color: #007aff
}

.swiper-container {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1
}

.swiper-container-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
    z-index: 1
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    transform: translateZ(0)
}

.swiper-container-multirow>.swiper-wrapper {
    flex-wrap: wrap
}

.swiper-container-multirow-column>.swiper-wrapper {
    flex-direction: column;
    flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
    margin: 0 auto;
    transition-timing-function: ease-out
}

.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height
}

.swiper-container-3d {
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-css-mode>.swiper-wrapper {
    -ms-overflow-style: none;
    overflow: auto;
    scrollbar-width: none
}

.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none
}

.swiper-container-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
}

.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper {
    scroll-snap-type: x mandatory
}

.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper {
    scroll-snap-type: y mandatory
}

:root {
    --swiper-navigation-size: 20px !important;
}

.swiper-button-next,
 .swiper-button-prev {
    align-items: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    cursor: pointer;
    display: flex;
    height:  --swiper-navigation-size !important;
    justify-content: center;
    margin-top: calc(var(--swiper-navigation-size)*-1/2);
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/44*27);
    z-index: 10
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    cursor: auto;
    opacity: .35;
    pointer-events: none
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    font-variant: normal;
    letter-spacing: 0;
    line-height: 1;
    text-transform: none !important;
    text-transform: none
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    content: "prev"
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    left: auto;
    right: 10px
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: "next"
}

.swiper-button-next.swiper-button-white,
.swiper-button-prev.swiper-button-white {
    --swiper-navigation-color: #fff
}

.swiper-button-next.swiper-button-black,
.swiper-button-prev.swiper-button-black {
    --swiper-navigation-color: #000
}

.swiper-button-lock {
    display: none
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transform: translateZ(0);
    transition: opacity .3s;
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullets-dynamic {
    font-size: 0;
    overflow: hidden
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    position: relative;
    transform: scale(.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(.33)
}

.swiper-pagination-bullet {
    background: #000;
    border-radius: 100%;
    display: inline-block;
    height: 8px;
    opacity: .2;
    width: 8px
}

button.swiper-pagination-bullet {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-bullet-active {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    opacity: 1
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    display: block;
    margin: 6px 0
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    transition: transform .2s, top .2s
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: transform .2s, left .2s
}

.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: transform .2s, right .2s
}

.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, .25);
    position: absolute
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0);
    transform-origin: left top;
    width: 100%
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progressbar,
.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    height: 4px;
    left: 0;
    top: 0;
    width: 100%
}

.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-container-vertical>.swiper-pagination-progressbar {
    height: 100%;
    left: 0;
    top: 0;
    width: 4px
}

.swiper-pagination-white {
    --swiper-pagination-color: #fff
}

.swiper-pagination-black {
    --swiper-pagination-color: #000
}

.swiper-pagination-lock {
    display: none
}

.swiper-scrollbar {
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
}

.swiper-container-horizontal>.swiper-scrollbar {
    bottom: 3px;
    height: 5px;
    left: 1%;
    position: absolute;
    width: 98%;
    z-index: 50
}

.swiper-container-vertical>.swiper-scrollbar {
    height: 98%;
    position: absolute;
    right: 3px;
    top: 1%;
    width: 5px;
    z-index: 50
}

.swiper-scrollbar-drag {
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-scrollbar-lock {
    display: none
}

.swiper-zoom-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain
}

.swiper-slide-zoomed {
    cursor: move
}

.swiper-lazy-preloader {
    animation: swiper-preloader-spin 1s linear infinite;
    border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
    border-radius: 50%;
    border-top: 4px solid transparent;
    box-sizing: border-box;
    height: 42px;
    left: 50%;
    margin-left: -21px;
    margin-top: -21px;
    position: absolute;
    top: 50%;
    transform-origin: 50%;
    width: 42px;
    z-index: 10
}

.swiper-lazy-preloader-white {
    --swiper-preloader-color: #fff
}

.swiper-lazy-preloader-black {
    --swiper-preloader-color: #000
}

@keyframes swiper-preloader-spin {
    to {
        transform: rotate(1turn)
    }
}

.swiper-container .swiper-notification {
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: -1000
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube {
    overflow: visible
}

.swiper-container-cube .swiper-slide {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    pointer-events: none;
    transform-origin: 0 0;
    visibility: hidden;
    width: 100%;
    z-index: 1
}

.swiper-container-cube .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 0
}

.swiper-container-cube .swiper-cube-shadow {
    background: #000;
    bottom: 0;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    height: 100%;
    left: 0;
    opacity: .6;
    position: absolute;
    width: 100%;
    z-index: 0
}

.swiper-container-flip {
    overflow: visible
}

.swiper-container-flip .swiper-slide {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    z-index: 1
}

.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 0
}

:root {
    --theme-color: #82e600;
    --header-max-height-desktop: 130px;
    --header-main-height-desktop: 80px;
    --header-max-height-mobile: 2.56rem;
    --header-main-height-mobile: 1.4933rem;
    --alert-color: #fa3c00
}

html {
    font-size: 10vw
}

body,
button,
div,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
li,
ol,
p,
ul {
    margin: 0;

}

a {
    text-decoration: none
}

strong {
    font-weight: inherit
}

input,
select {
    outline: none
}

button {
    cursor: pointer
}

button:disabled {
    background-color: rgba(51, 51, 51, .4) !important;
    cursor: not-allowed
}

body {
    display: flex;
    flex-direction: column;
    font-family: Avenir Book, Noto Sans Regular, Arial;
    margin: 0 auto;
    max-width: 750px;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%
}

#app {
    flex: 1 1 auto
}

.grecaptcha-badge {
    display: none !important
}

[v-cloak] {
    display: none
}

@media screen and (min-width:750px) {
    html {
        font-size: 75px
    }
}

@media screen and (min-width:1280px) {
    html {
        font-size: 16px
    }

    body {
        background-color: #fff;
        max-width: 1920px;
        overflow-x: auto;
        width: 100%
    }
}

.site-header {
    flex: 0 0 auto;
   
}

@media screen and (max-width:1279px) {
    .site-header {
        max-width: 750px;
        position: static;
        top: 0;
        width: 100%;
        z-index: 3
    }

    .site-header.fixed {
        position: fixed
    }

    .site-header.fixed+div {
        margin-top: var(--header-main-height-mobile)
    }

    .site-header.fixed.with-ad+div {
        margin-top: var(--header-max-height-mobile)
    }
}

.site-header .hot-cat-tag,
.site-header .new-cat-tag {
    border-radius: .3467rem;
    display: inline-block;
    font-family: Avenir Black, oraimo Boldface Heavy, Noto Sans Bold;
    font-size: .2133rem;
    font-weight: 400;
    line-height: .2667rem;
    padding: .08rem .0933rem;
    vertical-align: middle
}

.site-header .hot-cat-tag {
    background-color: #fd1d29;
    color: #fff
}

.site-header .new-cat-tag {
    background-color: #020202;
    color: var(--theme-color)
}

.site-header .header-notice {
    background-color: #343434;
    color: #fff;
    font-size: .32rem;
    height: 1.0667rem;
    line-height: 1.0667rem;
    padding-right: .72rem;
    position: relative;
    text-align: center;
    width: calc(100% - .72rem)
}

.site-header .header-notice .icon {
    font-size: .48rem;
    position: absolute;
    right: .2rem;
    top: .2933rem
}

.site-header .header-notice img {
    height: 1.0667rem;
    left: 50%;
    margin-left: -5rem;
    position: absolute;
    top: 0
}

.site-header .header-notice a {
    color: var(--theme-color);
    text-decoration: underline
}

.site-header .header-marquee>div {
    white-space: nowrap
}

.site-header .header-main {
    background-color: #1d1d1d;
    height: 1.4933rem;
    line-height: 1.4933rem;
    width: 100%
}

.site-header .header-main>div {
    font-size: 0;
    margin-left: .56rem
}

.site-header .header-category-header {
    background-color: #1d1d1d;
    height: 1.4933rem;
    line-height: 1.4933rem;
    width: 100%
}

.site-header .header-category-header>div {
    font-size: 0;
    position: relative;
    text-align: center
}

.site-header .header-category-header .header-category {
    left: .2667rem;
    position: absolute;
    top: 0
}

.site-header .header-content {
    display: flex;
    margin: 0 .56rem
}

.site-header .header-category .icon {
    display: inline-block;
    font-size: .7733rem;
    line-height: 1.4933rem;
    vertical-align: middle
}

.site-header .header-link img {
    display: inline-block;
    height: .3733rem;
    vertical-align: middle
}

.site-header .header-category {
    height: 1.4933rem
}

.site-header .header-logo {
    display: inline-block;
    flex: 1 1 auto;
    vertical-align: top
}

.site-header .header-logo.center {
    padding-left: .9067rem;
    text-align: center
}

.site-header .header-logo img {
    display: inline-block;
    vertical-align: middle;
    width: 2.0533rem
}

@media screen and (max-width:750px) {
    .site-header .header-category-container {
        background-color: #fff;
        bottom: 0;
        left: 100%;
        overflow-y: auto;
        position: fixed;
        top: 0;
        transition: left .3s linear;
        width: 100%;
        z-index: 2
    }

    .site-header .header-category-container.show {
        left: 0;
        transition: left .3s linear
    }
}

@media screen and (min-width:751px) {
    .site-header .header-category-container {
        background-color: #fff;
        bottom: 0;
        left: 100%;
        overflow-y: auto;
        position: fixed;
        top: 0;
        transition: left .3s linear;
        width: 750px;
        z-index: 3
    }

    .site-header .header-category-container.show {
        left: calc(50% - 375px);
        transition: left .3s linear
    }
}

.site-header .header-nav {
    left: 0;
    padding: .2133rem .2667rem 0;
    position: absolute;
    right: 0;
    top: 1.4933rem
}

.site-header .header-nav ul {
    list-style-type: none
}

.site-header .sub {
    position: relative
}

.site-header .sub>span {
    display: inline-block;
    transform: translateY(.125em)
}

.site-header .sub.flex-box {
    display: flex
}

.site-header .sub.flex-box>span:first-child {
    flex: 0 0 auto
}

.site-header .sub.flex-box>span:last-child {
    flex: 1 1 auto;
    padding-right: .8rem;
    text-align: right
}

.site-header .sub.flex-box>span:last-child img {
    width: .4267rem
}

.site-header .sub.show:after {
    bottom: .3733rem;
    transform: rotate(135deg);
    transition: all .1s linear
}

.site-header .sub:after {
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    bottom: .6rem;
    content: "";
    display: block;
    height: .2133rem;
    position: absolute;
    right: .1067rem;
    transform: rotate(-45deg);
    transition: bottom .1s linear, transform .1s linear;
    width: .2133rem
}

.site-header .header-nav-top>li:hover>div {
    max-height: 100vh;
    transition: max-height .8s ease-in-out
}

.site-header .top-link {
    border-bottom: 1px solid #ddd;
    color: #333;
    display: block;
    font-family: Avenir Black, oraimo Boldface Heavy, Noto Sans Bold;
    font-size: .3467rem;
    font-weight: 400;
    height: 1.3067rem;
    line-height: 1.3067rem;
    text-transform: uppercase
}

.site-header .top-link-text {
    display: inline-block;
    line-height: .3467rem;
    transform: translateY(.3em);
    vertical-align: middle
}

.site-header .header-mark {
    display: inline-block;
    height: .48rem;
    vertical-align: middle;
    width: .48rem
}

.site-header .header-support-item {
    border-bottom: 1px solid #ddd;
    color: #333;
    display: block;
    font-family: Avenir Black, oraimo Boldface Heavy, Noto Sans Bold;
    font-size: .3467rem;
    font-weight: 400;
    height: auto;
    line-height: normal;
    padding: .2666rem 0 .2666rem .2133rem
}

.site-header .header-support-item span {
    display: block
}

.site-header .header-support-banner {
    display: block;
    height: .8533rem;
    margin-top: .2666rem
}

.site-header .header-nav-text {
    display: inline-block;
    margin: 0 .1333rem;
    transform: translateY(.125em)
}

.site-header .header-nav-sub {
    display: none
}

.site-header .header-nav-sub.show {
    display: block
}

.site-header .header-nav-sub>li {
    display: flex;
    flex-wrap: wrap
}

.site-header .header-nav-sub img {
    display: none
}

.site-header .suber {
    border-bottom: 1px solid #ddd;
    color: #333;
    display: block;
    font-family: Avenir Black, oraimo Boldface Heavy, Noto Sans Bold;
    font-size: .32rem;
    font-weight: 400;
    height: 1.3067rem;
    line-height: 1.3067rem;
    padding-left: .2133rem;
    width: 100%
}

.site-header .header-nav-link {
    display: none
}

.site-header .header-nav-toggle {
    position: relative
}

.site-header .header-nav-toggle.show:after {
    bottom: .3733rem;
    transform: rotate(135deg);
    transition: all .1s linear
}

.site-header .header-nav-toggle:after {
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    bottom: .5333rem;
    content: "";
    display: block;
    height: .2133rem;
    position: absolute;
    right: .1067rem;
    transform: rotate(-45deg);
    transition: bottom .1s linear, transform .1s linear;
    width: .2133rem
}

.site-header .header-nav-toggle .header-nav-icon {
    display: inline-block;
    height: .48rem;
    vertical-align: middle;
    width: .48rem
}

.site-header .header-nav-suber {
    display: none;
    flex: 1 1 100%;
    padding: .16rem .32rem
}

.site-header .header-nav-suber.show {
    display: block
}

.site-header .header-nav-suber a {
    border: 0;
    color: #333;
    display: block;
    font-family: Avenir Book, Noto Sans Regular;
    font-size: .32rem;
    font-weight: 400;
    height: 1.12rem;
    line-height: 1.12rem
}

.site-header .header-nav-suber .header-nav-icon {
    display: inline-block;
    height: .48rem;
    vertical-align: middle;
    width: .48rem
}

.site-header .header-link-box {
    display: inline-block;
    position: relative
}

.site-header .header-link-box.app,
.site-header .header-link-box.dropmenu {
    display: none
}

.site-header .header-link {
    display: inline-block;
    margin-left: .6rem;
    position: relative;
    vertical-align: middle
}

.site-header .header-link .icon {
    font-size: .3733rem;
    line-height: 1.4933rem;
    vertical-align: middle
}

.site-header .site-cart-num {
    background-color: var(--theme-color);
    border-radius: 50%;
    color: #fff;
    display: none;
    font-size: 14px;
    font-style: normal;
    height: 18px;
    line-height: 18px;
    position: absolute;
    right: -.12rem;
    text-align: center;
    top: .5067rem;
    width: 18px
}

.site-header .desktop-currency-container,
.site-header .desktop-language-container,
.site-header .header-support-container {
    display: none
}

.site-header .header-support-container.show {
    display: block
}

.site-header .header-language-container {
    border-bottom: 1px solid #ddd
}

.site-header .header-currency-container,
.site-header .header-language-container {
    display: none
}

.site-header .header-currency-container.show,
.site-header .header-language-container.show {
    display: flex
}

.site-header .header-currency-container,
.site-header .header-language-container {
    flex-wrap: wrap;
    justify-content: center
}

.site-header .header-currency-container button,
.site-header .header-language-container button {
    background-color: #f7f8f8;
    border: 1px solid #f7f8f8;
    border-radius: .1333rem;
    flex: 0 0 2.4rem;
    height: .72rem;
    margin: .56rem calc(16.66667% - 1.2rem - 1px)
}

.site-header .header-currency-container button.current,
.site-header .header-language-container button.current {
    border-color: var(--theme-color)
}

.site-header .header-currency-container button img,
.site-header .header-language-container button img {
    border: 1px solid #ddd;
    margin-right: 6px;
    width: .4267rem
}

.site-header .header-vip {
    align-items: center;
    display: flex;
    font-family: Avenir Book, Noto Sans Regular;
    font-weight: 400;
    margin-top: .107rem
}

.site-header .header-vip-img {
    border-right: 1px solid #eee;
    height: .373rem;
    margin-right: .16rem;
    padding-right: .16rem
}

.site-header .header-vip-date {
    color: #999;
    font-size: .267rem;
    line-height: .267rem
}

@media screen and (min-width:1280px) {

    .site-header.with-ad .header-nav .header-nav-container,
    .site-header.with-ad .header-nav .header-support-container {
        top: var(--header-max-height-desktop)
    }

    .site-header .hot-cat-tag,
    .site-header .new-cat-tag {
        border-radius: 24px;
        font-size: 14px;
        line-height: 14px;
        margin-left: 6px;
        padding: 6px 6px 4px
    }

    .site-header .header-notice {
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        padding-right: 50px;
        width: calc(100% - 50px)
    }

    .site-header .header-notice .icon {
        font-size: 20px;
        right: 15px;
        top: 15px
    }

    .site-header .header-notice img {
        height: 50px;
        left: 50%;
        margin-left: -960px
    }

    .site-header .header-main {
        height: var(--header-main-height-desktop);
        line-height: var(--header-main-height-desktop)
    }

    .site-header .header-main.simplify {
        text-align: center
    }

    .site-header .header-main .header-content {
        line-height: var(--header-main-height-desktop);
        margin: 0 60px
    }

    .site-header .header-main .header-content>* {
        display: inline-block;
        font-size: 0;
        vertical-align: top
    }

    .site-header .header-main .header-content>.header-category {
        display: none
    }

    .site-header .header-logo {
        flex: 0 0 auto
    }

    .site-header .header-logo img {
        width: 135px
    }

    .site-header .header-category-container {
        background-color: transparent;
        flex: 1 1 auto;
        height: var(--header-main-height-desktop);
        overflow: hidden;
        position: static;
        width: auto
    }

    .site-header .header-category-header {
        display: none
    }

    .site-header .header-nav {
        display: inline-block;
        margin-left: 60px;
        padding: 0;
        position: static;
        vertical-align: top
    }

    .site-header .header-nav ul {
        font-size: 0
    }

    .site-header .header-nav li {
        display: inline-block;
        margin: 0 30px;
        vertical-align: middle
    }

    .site-header .header-nav li.header-nav-currency,
    .site-header .header-nav li.header-nav-language {
        display: none
    }

    .site-header .header-nav-top>li>a {
        font-family: Avenir Black, oraimo Boldface Heavy, Noto Sans Bold;
        font-weight: 400;
        letter-spacing: .5px
    }

    .site-header .top-link {
        border-bottom: none;
        color: #fff;
        font-family: Avenir Book, Noto Sans Regular;
        font-size: 16px;
        font-weight: 400;
        height: var(--header-main-height-desktop);
        line-height: var(--header-main-height-desktop);
        text-transform: none
    }

    .site-header .top-link:hover {
        color: var(--theme-color)
    }

    .site-header .top-link-text {
        line-height: var(--header-main-height-desktop);
        transform: translateY(0)
    }

    .site-header .header-mark {
        height: 18px;
        transform: translateY(-3px);
        width: 18px
    }

    .site-header .sub {
        margin-right: 14px;
        position: relative
    }

    .site-header .sub:hover:after {
        bottom: 35px;
        transform: rotate(135deg);
        transition: all .1s linear
    }

    .site-header .sub:after {
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        bottom: 38px;
        content: "";
        display: block;
        height: 5px;
        position: absolute;
        right: -15px;
        transform: rotate(-45deg);
        transition: bottom .1s linear, transform .1s linear;
        width: 5px
    }

    .site-header .sub>span {
        display: inline-block;
        transform: translateY(0)
    }

    .site-header .header-support-item {
        border-bottom: 1px solid #ddd;
        font-family: Avenir Book, Noto Sans Regular;
        font-size: 16px;
        font-weight: 400;
        padding: 0 100px 20px 0
    }

    .site-header .header-support-item:first-child {
        margin-top: 20px
    }

    .site-header .header-support-item:hover span {
        color: var(--theme-color)
    }

    .site-header .header-support-item:last-child {
        border-bottom: 0
    }

    .site-header .header-support-item span {
        color: #333
    }

    .site-header .header-support-item+a {
        margin-top: 20px
    }

    .site-header .header-support-banner {
        height: 40px;
        margin-top: 10px
    }

    .site-header .header-nav-container {
        background-color: #fff;
        font-size: 0;
        left: 0;
        max-height: 0;
        overflow-y: hidden;
        position: absolute;
        right: 0;
        top: var(--header-main-height-desktop);
        transition: max-height .3s ease-in-out;
        z-index: 2
    }

    .site-header .header-nav-sub {
        display: flex;
        margin: 0 auto;
        width: 1240px
    }

    .site-header .header-nav-sub li {
        flex: 1 1 auto;
        margin: 0 35px 0 0;
        padding-top: 50px;
        vertical-align: top;
        width: 220px
    }

    .site-header .header-nav-sub li:last-child {
        margin-right: 0
    }

    .site-header .header-nav-sub .suber {
        color: #111;
        display: block;
        font-size: 20px;
        height: 30px;
        line-height: 30px;
        padding-bottom: 15px;
        white-space: nowrap
    }

    .site-header .header-nav-sub .suber:hover {
        color: var(--theme-color)
    }

    .site-header .header-nav-sub .header-nav-link {
        max-width: 220px
    }

    .site-header .header-nav-sub .header-nav-toggle {
        display: none
    }

    .site-header .header-nav-sub .header-nav-image {
        display: block;
        height: auto;
        max-width: 220px
    }

    .site-header .header-nav-sub img {
        display: block;
        margin-top: 20px;
        width: 100%
    }

    .site-header .header-nav-suber {
        display: block;
        line-height: 16px;
        margin-top: 20px;
        padding: 0;
        width: 220px
    }

    .site-header .header-nav-suber li {
        margin: 0;
        padding-top: 0
    }

    .site-header .header-nav-suber li.header-nav-all {
        display: none
    }

    .site-header .header-nav-suber a {
        border: 0;
        color: #333;
        font-family: Avenir Book, Noto Sans Regular;
        font-size: 16px;
        font-weight: 400;
        height: auto;
        line-height: 16px;
        margin-bottom: 20px;
        padding-bottom: 0;
        white-space: nowrap
    }

    .site-header .header-nav-suber a:hover {
        color: var(--theme-color)
    }

    .site-header .header-nav-suber .header-nav-icon {
        display: none
    }

    .site-header .header-support-container {
        background-color: #fff;
        display: block;
        max-height: 0;
        overflow-y: hidden;
        padding: 0 20px;
        position: absolute;
        top: var(--header-main-height-desktop);
        transition: max-height .3s ease-in-out
    }

    .site-header .header-link-box.dropmenu {
        display: inline-block;
        padding-right: 20px;
        text-align: center;
        width: 120px
    }

    .site-header .header-link-box.dropmenu:hover .header-link {
        padding-right: 20px;
        width: 120px
    }

    .site-header .header-link-box.dropmenu:hover .header-link:before {
        background-color: #141416;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 20px
    }

    .site-header .header-link-box.dropmenu:hover .header-link span:after {
        bottom: 36px;
        transform: rotate(135deg);
        transition: bottom .1s linear, transform .1s linear
    }

    .site-header .header-link-box.dropmenu:hover ul {
        display: block
    }

    .site-header .header-link-box.dropmenu .header-link {
        margin-left: 0;
        margin-right: 0;
        padding: 0
    }

    .site-header .header-link-box.dropmenu .header-link span:after {
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        bottom: 38px;
        content: "";
        display: block;
        height: 5px;
        position: absolute;
        right: -15px;
        transform: rotate(-45deg);
        transition: bottom .1s linear, transform .1s linear;
        width: 5px
    }

    .site-header .header-link-box.app {
        display: inline-block
    }

    .site-header .header-link {
        color: #fff;
        flex: 0 0 auto;
        font-size: 20px;
        padding: 0 18px
    }

    .site-header .header-link img {
        height: 20px;
        line-height: var(--header-main-height-desktop);
        vertical-align: middle
    }

    .site-header .header-link img.currency-icon {
        height: auto;
        position: relative;
        width: 24px
    }

    .site-header .header-link span {
        display: inline-block;
        transform: translateY(.125em)
    }

    .site-header .header-link.header-link-category {
        display: none
    }

    .site-header .site-cart-num {
        font-size: 12px;
        height: calc(18px - .125em);
        line-height: 18px;
        padding-top: .125em;
        right: 24px;
        top: 40px;
        width: 18px
    }

    .site-header .header-vip {
        margin-top: 4px
    }

    .site-header .header-vip-img {
        height: 18px;
        margin-right: 6px;
        padding-right: 6px
    }

    .site-header .header-vip-date {
        font-size: 14px;
        line-height: 14px
    }
}

.mobile-user-center {
    color: #333;
    display: none;
    line-height: .5333rem;
    list-style-type: none
}


    [lang=ar] .site-header .header-nav-sub li {
        margin: 0 0 0 35px
    }

    [lang=ar] .site-header .header-nav-sub li:last-child {
        margin-left: 0
    }


[lang=ar] .header-app-mobile {
    padding-left: 0;
    padding-right: .213rem
}

[lang=ar] .header-app-mobile .app-content p:first-child strong {
    padding-left: .213rem;
    padding-right: 0
}

[lang=ar] .header-app-mobile .app-content p:first-child span {
    padding-left: 0;
    padding-right: .08rem
}

[lang=ar] .header-app-desktop {
    left: 0;
    right: auto
}

[lang=ar] .header-app-desktop .app-qrcode {
    border-left: .5px solid #eee;
    border-right: 0;
    padding-left: 16px;
    padding-right: 0
}

[lang=ar] .header-app-desktop .app-store {
    padding-left: 0;
    padding-right: 16px
}

.site-footer {
    background-color: #000;
    flex: 0 0 auto
}

.site-footer .footer-top {
    background-color: #191919;
    font-size: 0;
    padding: 0 .5867rem
}

.site-footer .footer-follow-us {
    padding: .56rem 0
}

.site-footer .footer-follow-us h4 {
    display: none
}

.site-footer .footer-follow-us img {
    margin-right: .4rem;
    width: .7467rem
}

.site-footer .footer-nav {
    list-style-type: none;
    padding: .2667rem .5067rem
}

.site-footer .footer-nav-title {
    color: #fff;
    display: block;
    font-family: Avenir Black, oraimo Boldface Heavy, Noto Sans Bold;
    font-size: .32rem;
    font-weight: 400;
    line-height: .48rem;
    padding: .2667rem 0;
    position: relative
}

.site-footer .footer-nav-title.show:after {
    bottom: .24rem;
    transform: rotate(135deg);
    transition: all .1s linear
}

.site-footer .footer-nav-title.show+ul {
    display: block
}

.site-footer .footer-nav-title:after {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    bottom: .4rem;
    content: "";
    display: block;
    height: .2133rem;
    position: absolute;
    right: .1067rem;
    transform: rotate(-45deg);
    transition: bottom .1s linear, transform .1s linear;
    width: .2133rem
}

.site-footer .footer-nav-sub {
    display: none;
    padding: .2rem 0
}

.site-footer .footer-nav-sub li {
    display: block
}

.site-footer .footer-nav-link {
    color: #999;
    display: block;
    font-size: .32rem;
    line-height: .48rem;
    padding: .2rem 0
}

.site-footer .footer-nav-text {
    color: #fff;
    font-size: .32rem;
    line-height: .48rem
}

.site-footer .footer-payment {
    color: #999;
    font-size: 0;
    line-height: .4rem;
    padding: 0 .5067rem .96rem
}

.site-footer .footer-payment h4 {
    font-size: .2667rem;
    margin-bottom: .2667rem
}

.site-footer .footer-payment img {
    display: inline-block;
    margin-right: .4rem;
    vertical-align: top;
    width: 1.04rem
}

.site-footer .footer-sslcommerz {
    padding: 0 .5067rem .48rem;
    text-align: center
}

.site-footer .footer-sslcommerz img {
    max-width: 1188px;
    width: 100%
}

.site-footer .footer-app-mobile {
    background-color: #191919;
    padding: .48rem 0 .16rem;
    text-align: center
}

.site-footer .footer-app-mobile .footer-app-title {
    color: #fff;
    font-family: Avenir Black, oraimo Boldface Heavy, Noto Sans Bold;
    font-size: .427rem;
    font-weight: 400
}

.site-footer .footer-app-mobile .footer-app-content {
    color: #fff;
    font-size: .32rem;
    padding: .107rem 0 .32rem
}

.site-footer .footer-app-mobile .footer-app-stores {
    display: flex;
    justify-content: center
}

.site-footer .footer-app-mobile .footer-app-stores button {
    background-color: transparent;
    border: 0
}

.site-footer .footer-app-mobile .footer-app-stores img {
    flex: 0 0 auto;
    margin: 0 .12rem;
    width: 2.853rem
}

.site-footer .footer-app-desktop {
    display: none
}

.site-footer .footer-copyright {
    background-color: #191919;
    color: #fff;
    font-size: .2667rem;
    line-height: .4rem;
    padding: .6133rem 0 .2667rem;
    text-align: center
}

.site-footer .footer-copyright img {
    margin-bottom: .4rem;
    width: 2.04rem
}

.site-footer .footer-copyright p {
    padding: 0 1.6667rem
}

.site-footer .footer-robot {
    bottom: 130px;
    display: none;
    position: fixed;
    right: 20px;
    z-index: 10001
}

.site-footer .footer-robot.mobile {
    display: block
}

.site-footer .footer-robot img {
    height: 48px;
    width: 48px
}

.site-footer .footer-backtotop {
    background-color: rgba(0, 0, 0, .5);
    border: 0;
    border-radius: 50%;
    bottom: 40px;
    display: none;
    height: 48px;
    position: fixed;
    right: 20px;
    width: 48px;
    z-index: 100
}

.site-footer .footer-backtotop svg {
    width: .64rem
}

.site-footer .footer-backtotop.show {
    display: block
}



@media screen and (min-width:1280px) {
    .site-footer .footer-top {
        padding: 0 45px
    }

    .site-footer .footer-top-main {
        display: flex;
        margin: 0 auto;
        max-width: 1440px;
        width: 100%
    }

    .site-footer .footer-follow-us {
        flex: 0 0 auto;
        padding: 16px 0;
        text-align: left
    }

    .site-footer .footer-follow-us h4 {
        color: #fff;
        display: block;
        font-family: Avenir Black, oraimo Boldface Heavy, Noto Sans Bold;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 12px
    }

    .site-footer .footer-follow-us img {
        margin-right: 40px;
        width: 30px
    }

    .site-footer .footer-app-mobile {
        display: none
    }

    .site-footer .footer-app-desktop {
        align-items: center;
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-end
    }

    .site-footer .footer-app-desktop .footer-app-icon {
        height: 48px;
        width: 48px
    }

    .site-footer .footer-app-desktop .footer-app-words {
        margin: 0 16px
    }

    .site-footer .footer-app-desktop .footer-app-title {
        color: #fff;
        font-family: Avenir Black, oraimo Boldface Heavy, Noto Sans Bold;
        font-size: 16px;
        font-weight: 400
    }

    .site-footer .footer-app-desktop .footer-app-content {
        color: #fff;
        font-size: 12px;
        margin-top: 6px
    }

    .site-footer .footer-app-desktop .footer-app-stores {
        display: flex;
        justify-content: center
    }

    .site-footer .footer-app-desktop .footer-app-stores a:first-child img {
        margin: 0 16px
    }

    .site-footer .footer-app-desktop .footer-app-stores img {
        flex: 0 0 auto;
        width: 134px
    }

    .site-footer .footer-container {
        padding: 0 45px
    }

    .site-footer .footer-nav {
        font-size: 0;
        margin: 0 auto;
        max-width: 1440px;
        padding: 42px 0 32px;
        width: 100%
    }

    .site-footer .footer-nav-item {
        display: inline-block;
        vertical-align: top;
        width: 25%
    }

    .site-footer .footer-nav-title {
        font-size: 16px;
        line-height: 24px;
        padding: 0
    }

    .site-footer .footer-nav-title:after {
        display: none
    }

    .site-footer .footer-nav-sub {
        display: block;
        padding: 10px 0
    }

    .site-footer .footer-nav-link {
        color: #b3b3b3;
        padding: 10px 0
    }

    .site-footer .footer-nav-link,
    .site-footer .footer-nav-text {
        font-size: 16px;
        line-height: 24px
    }

    .site-footer .footer-payment {
        margin: 0 auto;
        max-width: 1440px;
        padding: 0 0 30px;
        width: 100%
    }

    .site-footer .footer-payment h4 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px
    }

    .site-footer .footer-payment img {
        margin-right: 24px;
        width: 50px
    }

    .site-footer .footer-sslcommerz {
        margin: 0 auto;
        padding: 0 0 30px
    }

    .site-footer .footer-copyright {
        font-size: 12px;
        line-height: 18px;
        padding: 22px 0 12px
    }

    .site-footer .footer-copyright img {
        margin-bottom: 9px;
        width: 135px
    }

    .site-footer .footer-robot.mobile {
        display: none
    }

    .site-footer .footer-robot.desktop {
        display: block
    }

    .site-footer .footer-robot img {
        height: 60px;
        width: 60px
    }

    .site-footer .footer-backtotop {
        bottom: 60px;
        height: 48px;
        right: 26px;
        width: 48px
    }

    .site-footer .footer-backtotop svg {
        width: 24px
    }
}
