
<div class="wrapper">

    <div class="carousel-container"> 
<carousel [isAnimated]="true">  
    <slide>
        <picture>
            <!-- Small screen (mobile) -->
            <source media="(max-width: 750px)" srcset="assets/images/hero1_smaller.jpg">
            <source media="(max-width: 900px)" srcset="assets/images/hero1_small.jpg">

            <img src="assets/images/hero1.jpg" class="carousel-img" alt="slide1" style="display: block; width:100%">
        </picture>
    </slide>
   
    <slide>
        <picture>
             <source media="(max-width: 750px)" srcset="assets/images/hero2_smaller.jpg">
            <source media="(max-width: 900px)" srcset="assets/images/hero2_small.jpg">
            <img src="assets/images/hero2.jpg" class="carousel-img" alt="slide2" style="display: block; width:100%">
        </picture>
    </slide>

    <slide>
        <picture>
            <img src="assets/images/hero3.jpg" class="carousel-img" alt="slide3" style="display: block; width:100%">
        </picture>
    </slide>

    

    
</carousel>

</div>

    <div class="container words">
        <div class="center headerbox">
            <p class="heading animated fadeInUp">Hey! Are you looking  <span class="your">to</span> <span class="typing"></span></p>
            <p class="subheading animated fadeInUp">
                <span>If Yes!</span>, just relax because we've got <span>you covered</span>!
            </p>
            <div class="animated fadeInUp">
                <a routerLink="/shop" class="order">SHOP</a>
            </div>
            <div class="scroll-downs animated fadeInUp">
                <div class="roll">
                    <div class="scroll"></div>
                </div>
            </div>
        </div>
    </div>

</div> 

<section class="image-section">
    <div class="container">
        <h2>Categories</h2>

        <!-- First Row: Large Image -->
        <div class="first-row">
            <img src="assets/images/umb.jpg" alt="Large Image" class="rounded">
        </div>

        <!-- Second Row: Two Smaller Images -->
        <div class="second-row">
            <img src="assets/images/purse.jpg" alt="Small Image 1" class="rounded">
            <img src="assets/images/blu.jpg" alt="Small Image 2" class="rounded">
        </div>
    </div>
</section>



<app-index></app-index>

<section class="parallax-section">
    <div class="parallax-content">
        <h2>Discover the Beauty</h2>
        <p>Experience stunning visuals with our parallax effect.</p>
    </div>
    <div class="parallax-image image2"></div>
</section>


<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the shop</h1>
    </div>
</section>


  
