  .site-product {
    display:inline-block;
    position:relative;
    vertical-align:top;
    width:calc(50% - .0667rem)
  }

  .site-product .product-tag-new {
    border:1px solid var(--theme-color);
    border-radius:calc(.24rem + 2px);
    display:inline-block;
    left:.24rem;
    padding:1px;
    position:absolute;
    top:.2rem;
    z-index:1
  }
  .site-product .product-tag-new-content {
    background-color:var(--theme-color);
    border-radius:.1867rem;
    color:#fff;
    display:inline-block;
    font-size:.1867rem;
    line-height:.24rem;
    padding:.0667rem .2667rem
  }
  .site-product .product-tag-deal {
    color:#fff;
    display:inline-block;
    font-size:.1867rem;
    left:.16rem;
    line-height:.48rem;
    padding:0 .48rem;
    position:absolute;
    top:0;
    z-index:1
  }
  
  .site-product .product-img {
    background-color:#f8f8f8;
    border-radius:.16rem;
    display:block;
    position:relative
  }
  .site-product .product-picture {
    display:block;
    height:calc(50vw - .2667rem);
    max-height:calc(375px - .2667rem);
    max-width:calc(375px - .2667rem);
    width:calc(50vw - .2667rem)
  }
  .site-product .v-sold-out {
    border-radius:.16rem;
    font-size:.4267rem
  }
  .site-product h3 {
    color:#000;
    font-size:.3733rem;
    height:1.0933rem;
    letter-spacing:.3px;
    line-height:.5467rem;
    margin:.1467rem 0 0;
    white-space:normal
  }
  .site-product h3 a {
    line-clamp:2;
    -webkit-box-orient:vertical;
    color:inherit;
    display:block;
    display:-webkit-box;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal;
  }

  .site-product h3 {
    position: relative;
    overflow: hidden;
  }
  
  .site-product h3::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px; /* Adjust the fade area */
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none; /* Ensure it doesn’t interfere with clicks */
  }

  
  .site-product h3 a:hover {
    animation: marqueeText 5s linear infinite;
  }
  
  @keyframes marqueeText {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
  }

  @media screen and (min-width: 1280px) {
    .site-product .product-point img {
      height: 18px;
      margin-left: 5px;
    }
  }

  .site-product .product-points {
    height:1.5333rem;
    margin-top:.1333rem
  }
  .site-product .product-point {
    border-bottom:1px solid #eee;
    color:#000;
    font-size:.32rem;
    line-height:.48rem;
    overflow:hidden;
    padding:calc(.1333rem + .125em) 0 calc(.1333rem - .125em);
    text-overflow:ellipsis;
    white-space:nowrap
  }
  .site-product .product-point:first-child {
    border-top:1px solid #eee
  }
  .site-product .product-point img {
    display:inline-block;
    height:.32rem;
    margin-right:.0667rem;
    transform:translateY(-.125em);
    vertical-align:middle
  }
  .site-product .product-review {
    align-items:center;
    background-color:hsla(0,0%,100%,.85);
    border-radius:.16rem;
    bottom:.16rem;
    display:flex;
    font-size:.32rem;
    left:.16rem;
    padding:.08rem .16rem;
    position:absolute
  }
  .site-product .review-score {
    color:#000;
    font-family:Avenir Black,oraimo Boldface Heavy,Noto Sans Bold;
    font-weight:400;
    transform:translateY(.125em)
  }
  .site-product .review-star {
    height:.32rem;
    margin:0 .0533rem;
    width:.32rem
  }
  .site-product .review-count {
    color:#999
  }

  @media screen and (min-width: 1280px) {
    .site-product .product-price span {
      display: inline-block;
      font-family: Avenir Black,oraimo Boldface Heavy,Noto Sans Bold;
      font-size: 18px;
      font-weight: 400;
    }
  }

  .site-product .product-price span {
    color:#000;
    display:block;
    font-family:Avenir Black,oraimo Boldface Heavy,Noto Sans Bold;
    font-size:.3733rem;
    font-weight:400;
    margin-top:.24rem
  }
  .site-product .product-price del {
    color:#666;
    display:block;
    font-size:.40rem;
    text-decoration:line-through
  }
  @media screen and (min-width:1280px) {
    .site-product {
      width:348px
    }
    .site-product .product-tag-new {
      border-radius:12px;
      left:12px;
      top:12px
    }
    .site-product .product-tag-new-content {
      border-radius:10px;
      font-size:12px;
      line-height:20px;
      padding:3px 12px 0
    }
    .site-product .product-tag-deal {
      border-radius:12px;
      font-size:12px;
      left:6px;
      line-height:24px;
      padding:0 25px
    }
    .site-product .product-img {
      border-radius:6px;
      text-align:center
    }
    .site-product .product-picture {
      height:auto;
      max-height:none;
      max-width:none;
      width:100%
    }
    .site-product .v-sold-out {
      border-radius:6px;
      font-size:32px
    }
    .site-product h3 {
      font-family:Avenir Black,oraimo Boldface Heavy,Noto Sans Bold;
      font-size:18px;
      font-weight:400;
      height:24px;
      line-height:24px;
      margin:24px 0 0
    }
    .site-product h3 a {
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap; 
    }
    .site-product .product-desc {
      position:relative
    }
    .site-product .product-desc:hover .product-btn {
      opacity:1;
      transition:opacity .3s ease-in
    }
    .site-product .product-points {
      height:80px;
      margin-top:10px
    }
    .site-product .product-point {
      font-size:12px;
      line-height:18px;
      padding:calc(10px + .125em) 0 calc(10px - .125em)
    }
    .site-product .product-point img {
      height:18px;
      margin-left:5px
    }
    .site-product .product-review {
      border-radius:15px;
      bottom:12px;
      font-size:18px;
      left:12px;
      padding:4px 12px
    }
    .site-product .review-star {
      height:18px;
      margin:0 4px;
      width:18px
    }
    .site-product .product-price {
      line-height:28px;
      margin:12px 0 16px
    }
    .site-product .product-price span {
      display:inline-block;
      font-family:Avenir Black,oraimo Boldface Heavy,Noto Sans Bold;
      font-size:18px;
      font-weight:400
    }
    .site-product .product-price del {
      display:inline-block;
      font-family:Avenir Book,Noto Sans Regular;
      font-size:12px;
      font-weight:400;
      margin-left:25px;
      margin-top:0
    }
 

 
  
  }
