<div class="">

  <div class="swiper-box">

    <swiper-container slides-per-view="4" space-between="20" [autoplay]="{ delay: 3000, disableOnInteraction: false }"
      navigation pagination loop [breakpoints]="{
        '0': { 'slidesPerView': 2, 'space-between': 10 },
        '768': { 'slidesPerView': 3, 'spaceBetween': 15 },
        '1024': { 'slidesPerView': 4, 'spaceBetween': 20 }
      }">
      <swiper-slide>


        <div class="site-product" data-id="1757">

          <span class="product-tag-new" style="border-color: #AA7B3D">
            <span class="product-tag-new-content" style="background-color: #AA7B3D">
              New Flagship
            </span>
          </span>

          <a class="product-img js_select_item"
           data-price="180"
            data-category="Bags">
            <img class="product-picture lazyload"
              alt="lh1"
              data-src="assets/images/roll1.jpg"
              src="assets/images/roll1.jpg" />


            <div class="product-review">
              <span class="review-score">4.9</span>
              <img class="review-star lazyload" alt="" src="assets/images/star.svg" />
              <span class="review-count">(3255)</span>
            </div>
          </a>
          <h3>
            <a class="js_select_item"

              data-id="1757" data-sku="OTW-630"
              data-name="Love in Paris HAZEL" data-price="25.66"
              data-category="Audio"><span>Love in Paris HAZEL</span></a>
          </h3>
          <div class="product-points">
            <p class="product-point">
              <img class="lazyload" alt=""
                data-src="assets/images/trendy.svg"
                src="assets/images/trendy.svg" />
              <span><span>Trendy and Convinient</span></span>
            </p>
            <p class="product-point">
              <img class="lazyload" alt="RockStar"
                src="assets/images/rock.svg" />
              <span><span>Activate your inner rockstar</span></span>
            </p>
          </div>
          <div class="product-desc">
            <p class="product-price">
              <span>$ 180</span>
              <del>$ 240</del>
            </p>
         
          </div>
        </div>


      </swiper-slide>




      <swiper-slide>


        <div class="site-product" data-id="1757">

     

          <a class="product-img js_select_item"
           data-price="180"
            data-category="Bags">
            <img class="product-picture lazyload"
              alt="lh1"

              src="assets/images/paris.jpg" />


            <div class="product-review">
              <span class="review-score">4.6</span>
              <img class="review-star lazyload" alt="" src="assets/images/star.svg" />
              <span class="review-count">(2355)</span>
            </div>
          </a>
          <h3>
            <a class="js_select_item"

              data-id="1757" data-sku="OTW-630"
              data-name="Love in Paris FIA" data-price="180"
              data-category="Audio"><span>Love in Paris FIA</span></a>
          </h3>
          <div class="product-points">
            <p class="product-point">
              <img class="lazyload" alt=""
                data-src="assets/images/trendy.svg"
                src="assets/images/explore.svg" />
              <span><span>Explore your Senses</span></span>
            </p>
            <p class="product-point">
              <img class="lazyload" alt="RockStar"
                src="assets/images/charm.svg" />
              <span><span>Colors that will charm you</span></span>
            </p>
          </div>
          <div class="product-desc">
            <p class="product-price">
              <span>$ 180</span>
              <del>$ 240</del>
            </p>
         
          </div>
        </div>


      </swiper-slide>


      <swiper-slide>


        <div class="site-product" data-id="1757">

          <span class="product-tag-new" style="border-color: #AA7B3D">
            <span class="product-tag-new-content" style="background-color: #AA7B3D">
              New Flagship
            </span>
          </span>

          <a class="product-img js_select_item"
           data-price="180"
            data-category="Bags">
            <img class="product-picture lazyload"
              alt="lh1"
              data-src="assets/images/nana.jpg"
              src="assets/images/nana.jpg" />


            <div class="product-review">
              <span class="review-score">4.9</span>
              <img class="review-star lazyload" alt="" src="assets/images/star.svg" />
              <span class="review-count">(3255)</span>
            </div>
          </a>
          <h3>
            <a class="js_select_item"

              data-id="1757" data-sku="OTW-630"
              data-name="Love in Paris INANNA" data-price="170"
              data-category="Audio"><span>Love in Paris INANNA</span></a>
          </h3>
          <div class="product-points">
            <p class="product-point">
              <img class="lazyload" alt=""
                src="assets/images/love.svg" />
              <span><span>Lets fall in love in Paris</span></span>
            </p>
            <p class="product-point">
              <img class="lazyload" alt="RockStar"
                src="assets/images/anchor.svg" />
              <span><span>For the real adventure seekers</span></span>
            </p>
          </div>
          <div class="product-desc">
            <p class="product-price">
              <span>$ 180</span>
              <del>$ 240</del>
            </p>
         
          </div>
        </div>


      </swiper-slide>

      <swiper-slide>


        <div class="site-product" data-id="1757">

         

          <a class="product-img js_select_item"
           data-price="190"
            data-category="Bags">
            <img class="product-picture lazyload"
              alt="QUINN"
              data-src="assets/images/quinn.jpg"
              src="assets/images/quinn.jpg" />


            <div class="product-review">
              <span class="review-score">4.9</span>
              <img class="review-star lazyload" alt="" src="assets/images/star.svg" />
              <span class="review-count">(3255)</span>
            </div>
          </a>
          <h3>
            <a class="js_select_item"

              data-id="1757" data-sku="OTW-630"
              data-name="Love in Paris HAZEL" data-price="25.66"
              data-category="Audio"><span>Back to London QUINN</span></a>
          </h3>
          <div class="product-points">
            <p class="product-point">
              <img class="lazyload" alt=""
                src="assets/images/sun.svg" />
              <span><span>Lets whatch the sunset in London</span></span>
            </p>
            <p class="product-point">
              <img class="lazyload" alt="1"
                src="assets/images/one.svg" />
              <span><span>Beacause your number 1</span></span>
            </p>
          </div>
          <div class="product-desc">
            <p class="product-price">
              <span>$ 200</span>
              <del>$ 280</del>
            </p>
         
          </div>
        </div>


      </swiper-slide>

      <swiper-slide>


        <div class="site-product" data-id="1757">

          

          <a class="product-img js_select_item"
           data-price="180"
            data-category="Bags">
            <img class="product-picture lazyload"
              alt="mav"
              src="assets/images/nyoko.jpg" />


            <div class="product-review">
              <span class="review-score">4.5</span>
              <img class="review-star lazyload" alt="" src="assets/images/star.svg" />
              <span class="review-count">(4655)</span>
            </div>
          </a>
          <h3>
            <a class="js_select_item"

              data-id="1757" 
              data-category="Audio"><span>Back to London NYOKO</span></a>
          </h3>
          <div class="product-points">
            <p class="product-point">
              <img class="lazyload" alt=""
                src="assets/images/stars1.svg" />
              <span><span>Beacause your a Star</span></span>
            </p>
            <p class="product-point">
              <img class="lazyload" alt="freak"
                src="assets/images/freak.svg" />
              <span><span>Or just freaking awesome</span></span>
            </p>
          </div>
          <div class="product-desc">
            <p class="product-price">
              <span>$ 180</span>
              <del>$ 200</del>
            </p>
         
          </div>
        </div>


      </swiper-slide>

      <swiper-slide>


        <div class="site-product" data-id="1757">

         

          <a class="product-img js_select_item"
           data-price="180"
            data-category="Bags">
            <img class="product-picture lazyload"
              alt="lh1"
              src="assets/images/malani.jpg" />


            <div class="product-review">
              <span class="review-score">4.6</span>
              <img class="review-star lazyload" alt="" src="assets/images/star.svg" />
              <span class="review-count">(2855)</span>
            </div>
          </a>
          <h3>
            <a class="js_select_item"

              data-id="1757" data-sku="OTW-630"
              data-name="Love in Paris HAZEL" data-price="180"
              data-category="Audio"><span>Back to London MALANI</span></a>
          </h3>
          <div class="product-points">
            <p class="product-point">
              <img class="lazyload" alt=""
                src="assets/images/lond.svg" />
              <span><span>No were else I will rather be</span></span>
            </p>
            <p class="product-point">
              <img class="lazyload" alt="locate"
                src="assets/images/loc.svg" />
              <span><span>Where's your location</span></span>
            </p>
          </div>
          <div class="product-desc">
            <p class="product-price">
              <span>$ 180</span>
              <del>$ 240</del>
            </p>
         
          </div>
        </div>


      </swiper-slide>

      <swiper-slide>


        <div class="site-product" data-id="1757">

          

          <a class="product-img js_select_item"
           data-price="180"
            data-category="Bags">
            <img class="product-picture lazyload"
              alt="mav"
              src="assets/images/mav.jpg" />


            <div class="product-review">
              <span class="review-score">4.5</span>
              <img class="review-star lazyload" alt="" src="assets/images/star.svg" />
              <span class="review-count">(4655)</span>
            </div>
          </a>
          <h3>
            <a class="js_select_item"

              data-category="Bags"><span>Back to London MAEVE</span></a>
          </h3>
          <div class="product-points">
            <p class="product-point">
              <img class="lazyload" alt=""
                src="assets/images/magic.svg" />
              <span><span>Whats your magic?</span></span>
            </p>
            <p class="product-point">
              <img class="lazyload" alt="cards"
                src="assets/images/card.svg" />
              <span><span>I promise, no tricks</span></span>
            </p>
          </div>
          <div class="product-desc">
            <p class="product-price">
              <span>$ 160</span>
              <del>$ 220</del>
            </p>
         
          </div>
        </div>


      </swiper-slide>


      <swiper-slide>


        <div class="site-product" data-id="1757">

          
          <a class="product-img js_select_item"
           data-price="180"
            data-category="Bags">
            <img class="product-picture lazyload"
              alt="greta"
              src="assets/images/greta.jpg" />


            <div class="product-review">
              <span class="review-score">4.4</span>
              <img class="review-star lazyload" alt="" src="assets/images/star.svg" />
              <span class="review-count">(3754)</span>
            </div>
          </a>
          <h3>
            <a class="js_select_item"

              data-category="Bags"><span>Love in Paris GRETA</span></a>
          </h3>
          <div class="product-points">
            <p class="product-point">
              <img class="lazyload" alt=""
                src="assets/images/paris.svg" />
              <span><span>Lets get lucky in paris</span></span>
            </p>
            <p class="product-point">
              <img class="lazyload" alt="Wine"
                src="assets/images/wine.svg" />
              <span><span>Who needs luck, I got courage</span></span>
            </p>
          </div>
          <div class="product-desc">
            <p class="product-price">
              <span>$ 180</span>
              <del>$ 240</del>
            </p>
         
          </div>
        </div>


      </swiper-slide>

      <swiper-slide>


        <div class="site-product" data-id="1757">

          
          <a class="product-img js_select_item"
           data-price="180"
            data-category="Bags">
            <img class="product-picture lazyload"
              alt="dagma"
              src="assets/images/dagma.jpg" />


            <div class="product-review">
              <span class="review-score">4.2</span>
              <img class="review-star lazyload" alt="" src="assets/images/star.svg" />
              <span class="review-count">(2412)</span>
            </div>
          </a>
          <h3>
            <a class="js_select_item"

              data-id="1757" data-sku="OTW-630"
              data-category="Bags"><span>Love in Paris DAGMA</span></a>
          </h3>
          <div class="product-points">
            <p class="product-point">
              <img class="lazyload" alt=""
                src="assets/images/hug.svg" />
              <span><span>Who needs a hug?</span></span>
            </p>
            <p class="product-point">
              <img class="lazyload" alt="air"
                src="assets/images/air.svg" />
              <span><span>Touch down</span></span>
            </p>
          </div>
          <div class="product-desc">
            <p class="product-price">
              <span>$ 180</span>
              <del>$ 240</del>
            </p>
         
          </div>
        </div>


      </swiper-slide>


      <swiper-slide>


        <div class="site-product" data-id="1757">

        

          <a class="product-img js_select_item"
           data-price="180"
            data-category="Bags">
            <img class="product-picture lazyload"
              alt="kiss"

              src="assets/images/davin.jpg" />


            <div class="product-review">
              <span class="review-score">4.9</span>
              <img class="review-star lazyload" alt="" src="assets/images/star.svg" />
              <span class="review-count">(3255)</span>
            </div>
          </a>
          <h3>
            <a class="js_select_item"

              data-category="Bags"><span>Love in Paris DAVIN</span></a>
          </h3>
          <div class="product-points">
            <p class="product-point">
              <img class="lazyload" alt="kiss"
                src="assets/images/kiss.svg" />
              <span><span>Girsl love choclate</span></span>
            </p>
            <p class="product-point">
              <img class="lazyload" alt="cat"
                src="assets/images/cat.svg" />
              <span><span>And so do you</span></span>
            </p>
          </div>
          <div class="product-desc">
            <p class="product-price">
              <span>$ 180</span>
              <del>$ 240</del>
            </p>
         
          </div>
        </div>


      </swiper-slide>


      <swiper-slide>


        <div class="site-product" data-id="1757">

         
          <a class="product-img js_select_item"
           data-price="180"
            data-category="Bags">
            <img class="product-picture lazyload"
              alt="wish"

              src="assets/images/elyse.jpg" />


            <div class="product-review">
              <span class="review-score">4.8</span>
              <img class="review-star lazyload" alt="" src="assets/images/star.svg" />
              <span class="review-count">(6211)</span>
            </div>
          </a>
          <h3>
            <a class="js_select_item"

              data-id="1757" data-sku="OTW-630"
              data-category="Bags"><span>Love in Paris ELYSE</span></a>
          </h3>
          <div class="product-points">
            <p class="product-point">
              <img class="lazyload" alt=""
                src="assets/images/wish.svg" />
              <span><span>If I could paint a wish</span></span>
            </p>
            <p class="product-point">
              <img class="lazyload" alt="RockStar"
                src="assets/images/you.svg" />
              <span><span>I'll just paint you</span></span>
            </p>
          </div>
          <div class="product-desc">
            <p class="product-price">
              <span>$ 180</span>
              <del>$ 240</del>
            </p>
         
          </div>
        </div>


      </swiper-slide>

      <swiper-slide>


        <div class="site-product" data-id="1757">

          <span class="product-tag-new" style="border-color: #AA7B3D">
            <span class="product-tag-new-content" style="background-color: #AA7B3D">
              New Flagship
            </span>
          </span>

          <a class="product-img js_select_item"
           data-price="180"
            data-category="Bags">
            <img class="product-picture lazyload"
              alt="lh1"
              data-src="assets/images/roll1.jpg"
              src="assets/images/roll1.jpg" />


            <div class="product-review">
              <span class="review-score">4.9</span>
              <img class="review-star lazyload" alt="" src="assets/images/star.svg" />
              <span class="review-count">(3255)</span>
            </div>
          </a>
          <h3>
            <a class="js_select_item"

              data-id="1757" data-sku="OTW-630"
              data-name="Love in Paris HAZEL" data-price="25.66"
              data-category="Audio"><span>Love in Paris HAZEL</span></a>
          </h3>
          <div class="product-points">
            <p class="product-point">
              <img class="lazyload" alt=""
                data-src="assets/images/trendy.svg"
                src="assets/images/trendy.svg" />
              <span><span>Trendy and Convinient</span></span>
            </p>
            <p class="product-point">
              <img class="lazyload" alt="RockStar"
                src="assets/images/rock.svg" />
              <span><span>Activate your inner rockstar</span></span>
            </p>
          </div>
          <div class="product-desc">
            <p class="product-price">
              <span>$ 180</span>
              <del>$ 240</del>
            </p>
         
          </div>
        </div>


      </swiper-slide>

    </swiper-container>
  </div>
</div>